<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cascade.intouch">

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/App"
        android:usesCleartextTraffic="true">
        <activity android:name="com.cascade.intouch.activity.DetailActivity"></activity>
        <activity
            android:name="com.cascade.intouch.activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/App.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cascade.intouch.activity.SummaryActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cascade.intouch.activity.MainActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>